
* {
    padding: 4;
    background-color: rgb(205, 126, 205);
}



footer {
    height: 400px;
    padding: 10px 20px;
}



p {
    text-align: center;
    color: rgb(0, 0, 0);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border: 2px solid brown;

  }


  .todos {
    width: 500px;
    margin: 50px auto;
    border: 2px solid black;
    padding: 20px;
  }

  .todo-items {
    font-weight: bold;
    list-style: none;
    margin: 10px 0;
  }